@model PlayerViewModel.Song
@using Music.Enumerables; 
@{
    ViewData["Title"] = "Trình phát nhạc";
}
<div class="row mb-3">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body shadow border-0">
                <div class="align-items-center text-center">
                    <div class="embed-responsive embed-responsive-1by1 z-depth-0 p-3">
                        <iframe class="embed-responsive-item"
                                src="https://www.youtube.com/embed/@Model.Id"></iframe>
                    </div>
                    <div class="mt-3">
                        <!--Title-->
                        <div>
                            <h3>Danh sách phát</h3>
                            <p class="text-secondary mb-3">
                                播放列表
                            </p>
                        </div>
                        <!--Button trigger modal-->
                        <div class="btn-group">
                            <div type="button" class="btn btn-success"
                                 data-toggle="modal" data-target="#album-modal">
                                Album
                                <h4>@Model.Albums.Count</h4>
                            </div>
                            <div type="button" class="btn btn-warning"
                                 data-toggle="modal" data-target="#artist-modal">
                                Ca sĩ
                                <h4>@Model.Artists.Count</h4>
                            </div>
                            <div type="button" class="btn btn-danger"
                                 data-toggle="modal" data-target="#video-modal">
                                Video
                                <h4>@Model.Videos.Count</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Related-->
        <div class="card mt-3 shadow border">
            <div class="card-body text-center">
                <h4 class="mb-3">Đề xuất</h4>
                <div id="related-carousel" class="carousel slide"
                     data-interval="2500" data-ride="carousel">
                    <div class="carousel-inner">
                        @{
                            //var firstSong = Model.RelatedSongs.First();
                            <div class="carousel-item active">
                                <a asp-controller="Song"
                                   asp-action="Detail"
                                   asp-route-id="firstSong.Id">
                                    <img class="shadow p-1 w-50"
                                         style="background-color:blue;"
                                         src="firstSong.ImageUrl"
                                         alt="firstSong.Name.Vietnamese" />
                                </a>
                                <h5 class="mt-3">
                                    firstSong.Name.Vietnamese
                                </h5>
                                <small class="text-secondary">
                                    firstSong.Name.SimplifiedChinese
                                </small>
                            </div>
                            //if (Model.RelatedSongs.Count < 1) return;
                            //foreach (var item in Model.RelatedSongs.Skip(1).Take(4))
                            {
                                <div class="carousel-item">
                                    <a asp-controller="Song"
                                       asp-action="Detail"
                                       asp-route-id="item.Id">
                                        <img class="shadow p-1 w-50"
                                             style="background-color:blue;"
                                             src="item.ImageUrl"
                                             alt="item.Name.Vietnamese" />
                                    </a>
                                    <h5 class="mt-3">
                                        item.Name.Vietnamese
                                    </h5>
                                    <small class="text-secondary">
                                        item.Name.SimplifiedChinese
                                    </small>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Content-->
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-body">
                @{
                    int index = 1;
                    foreach (var song in Model.Songs)
                    {
                        <a class="row" asp-controller="Song" 
                           asp-action="Detail" asp-route-id="@song.Id">
                            <div class="col-sm-1"><h6>@index</h6></div>
                            <div class="col-sm-11 text-dark">
                                <h6>@song.ToString(Language.Vietnamese)</h6>
                                <h6 class="text-secondary small">
                                    @song.ToString(Language.SimplifiedChinese)
                                </h6>
                            </div>
                        </a>
                        <hr />
                        index++;
                    }
                }
                <div>
                    <div class="btn btn-primary float-right"
                         data-toggle="modal" data-target="#song-modal">
                        Xem tất cả
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<partial name="~/Views/Shared/Modal/Album.cshtml" model="@Model.Albums" />
<partial name="~/Views/Shared/Modal/Artist.cshtml" model="@Model.Artists" />
<partial name="~/Views/Shared/Modal/Video.cshtml" model="@Model.Videos" />
<partial name="~/Views/Shared/Modal/Song.cshtml" model="@Model.Songs" />