@model SongViewModel.Detail
@{
    ViewData["Title"] = Model.Song.Name.Vietnamese; 
}
<div class="row">
    <div class="col-md-4 mb-3">
        <partial name="~/Views/Shared/Song/Profile.cshtml" model="@Model.Song" />
        <!--Informations-->
        <partial name="~/Views/Shared/Song/Information.cshtml" />
    </div>
    <!--Content-->
    <div class="col-md-8">
        <div class="nav nav-pills justify-content-center h5 mb-3" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-desc-tab" data-toggle="tab" role="tab"
                href="#nav-desc" aria-controls="nav-desc" aria-selected="true">
                Thông tin
            </a>
            <a class="nav-item nav-link" id="nav-lyric-tab" data-toggle="tab" role="tab"
                href="#nav-lyric" aria-controls="nav-lyric" aria-selected="false">
                Lời nhạc
            </a>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-desc"
                    role="tabpanel" aria-labelledby="nav-desc-tab">
                <div id="desc-accordion">
                    <div class="card">
                        <div class="card-header" id="vi-desc-heading">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" aria-expanded="true"
                                        data-target="#vi-desc-collapse" aria-controls="vi-desc-collapse">
                                    Tiếng Việt
                                </button>
                            </h5>
                        </div>
                        <div id="vi-desc-collapse" class="collapse show"
                                aria-labelledby="vi-desc-heading" data-parent="#desc-accordion">
                            <div class="card-body">
                                @Model.Song.Description.Vietnamese.Replace("\r", "<br />")
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="sc-desc-heading">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" aria-expanded="false"
                                        data-target="#sc-desc-collapse" aria-controls="sc-desc-collapse">
                                    Giản thể
                                </button>
                            </h5>
                        </div>
                        <div id="sc-desc-collapse" class="collapse"
                                aria-labelledby="sc-desc-heading" data-parent="#desc-accordion">
                            <div class="card-body">
                                @Model.Song.Description.SimplifiedChinese
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="tc-desc-heading">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" aria-expanded="false"
                                        data-target="#tc-desc-collapse" aria-controls="tc-desc-collapse">
                                    Phồn thể
                                </button>
                            </h5>
                        </div>
                        <div id="tc-desc-collapse" class="collapse"
                                aria-labelledby="tc-desc-heading" data-parent="#desc-accordion">
                            <div class="card-body">
                                @Model.Song.Description.TraditionalChinese
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-lyric"
                    role="tabpanel" aria-labelledby="nav-lyric-tab">
                <div id="lyric-accordion">
                    <div class="card">
                        <div class="card-header" id="vi-lyric-heading">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" aria-expanded="true"
                                        data-target="#vi-lyric-collapse" aria-controls="vi-lyric-collapse">
                                    Tiếng Việt
                                </button>
                            </h5>
                        </div>
                        <div id="vi-lyric-collapse" class="collapse show"
                                aria-labelledby="vi-lyric-heading" data-parent="#lyric-accordion">
                            <div class="card-body">
                                @Model.Song.Lyric.Vietnamese
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="py-lyric-heading">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" aria-expanded="false"
                                        data-target="#py-lyric-collapse" aria-controls="py-lyric-collapse">
                                    Bính âm
                                </button>
                            </h5>
                        </div>
                        <div id="py-lyric-collapse" class="collapse"
                                aria-labelledby="py-lyric-heading" data-parent="#lyric-accordion">
                            <div class="card-body">
                                @Model.Song.Lyric.Pinyin
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="sc-lyric-heading">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" aria-expanded="false"
                                        data-target="#sc-lyric-collapse" aria-controls="sc-lyric-collapse">
                                    Giản thể
                                </button>
                            </h5>
                        </div>
                        <div id="sc-lyric-collapse" class="collapse"
                                aria-labelledby="sc-lyric-heading" data-parent="#lyric-accordion">
                            <div class="card-body">
                                @Model.Song.Lyric.SimplifiedChinese
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="tc-lyric-heading">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" aria-expanded="false"
                                        data-target="#tc-lyric-collapse" aria-controls="tc-lyric-collapse">
                                    Phồn thể
                                </button>
                            </h5>
                        </div>
                        <div id="tc-lyric-collapse" class="collapse"
                                aria-labelledby="tc-lyric-heading" data-parent="#lyric-accordion">
                            <div class="card-body">
                                @Model.Song.Lyric.TraditionalChinese
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
