@model SongViewModel.Index
@using Music.Enumerables;
@using Music.Extensions; 
@{ 
    ViewBag.Title = "Bài hát";
}

<div class="row p-3">
    <!--Recent songs-->
    <div class="bg-body rounded col-sm-6 mb-5">
        <div class="border-bottom h6 pb-2 mb-0">
            Cập nhật gần đây
            <a class="float-right" asp-controller="Playlist" 
               asp-action="Audio" asp-route-id="@Model.RecentSongs.GetSongIds()">
                Phát tất cả
            </a>
        </div>
        @{
            foreach (var song in Model.RecentSongs)
            {
                <div class="d-flex text-muted pt-3">
                    <a asp-controller="Song" asp-action="Detail" asp-route-id="@song.Id">
                        <img class="img-fluid shadow p-1"
                             style="background-color:deeppink; width:64px;"
                             src=@song.ImageUrl loading="lazy" aria-label="song" />
                    </a>
                    <a class="pb-3 ml-3 mb-0 small lh-sm w-100 border-bottom"
                       asp-controller="Song" asp-action="Detail" asp-route-id="@song.Id">
                        <div class="d-block text-gray-dark h6">
                            @song.ToString(Language.Vietnamese)
                        </div>
                        <div class="text-muted">
                            @song.ToString(Language.SimplifiedChinese)
                        </div>
                    </a>
                </div>
            }
        }
    </div>
    <!--Recommend songs-->
    <div class="bg-body rounded col-sm-6">
        <div class="border-bottom h6 pb-2 mb-0">
            Đề xuất cho bạn
            <a class="float-right" asp-controller="Playlist"
               asp-action="Audio" asp-route-id="@Model.RecommendSongs.GetSongIds()"
               asp-route-shuffle="true">
                Phát tất cả
            </a>
        </div>
        @{
            foreach (var song in Model.RecommendSongs)
            {
                <div class="d-flex text-muted pt-3">
                    <a asp-controller="Song" asp-action="Detail" asp-route-id="@song.Id">
                        <img class="img-fluid shadow p-1"
                             style="background-color:deeppink; width:64px;"
                             src=@song.ImageUrl loading="lazy" aria-label="song" />
                    </a>
                    <a class="pb-3 ml-3 mb-0 small lh-sm w-100 border-bottom"
                         asp-controller="Song" asp-action="Detail" asp-route-id="@song.Id">
                        <div class="d-block text-gray-dark h6">
                            @song.ToString(Language.Vietnamese)
                        </div>
                        <div class="text-muted">
                            @song.ToString(Language.SimplifiedChinese)
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>