@model IEnumerable<Album>

<div class="card shadow m-3">
    <div class="card-body">
        <div class="row">
            @{
                foreach (var item in Model)
                {
                    <div class="col-sm-4 mt-3 mb-3 w-50">
                        <div class="card shadow-sm">
                            <img src="@item.ImageUrl" alt="@item.VietnameseName" loading="lazy" />
                            <div class="card-body d-inline-block">
                                <h6 title="@item.VietnameseName">@item.VietnameseName</h6>
                                <small class="text-muted float-right">@item.SimplifiedChineseName</small>
                                <a class="stretched-link"
                                   asp-controller="Home"
                                   asp-action="Album"
                                   asp-route-id="@item.Id"></a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div>
            <div class="btn btn-primary float-right"
                 data-toggle="modal" data-target="#album-modal">
                Xem tất cả
            </div>
        </div>
    </div>
</div>
