@model IEnumerable<Base>

<div class="card mt-3 shadow border">
    <div class="card-body text-center">
        <h4 class="mb-3">Đề xuất</h4>
        <div id="related-carousel" class="carousel slide"
             data-interval="2000" data-ride="carousel">
            <div class="carousel-inner">
                @{
                    <div class="carousel-item active">
                        <a asp-controller="Home"
                            asp-action="@Model.ElementAt(0).GetType().Name"
                            asp-route-id="@Model.ElementAt(0).Id">
                            <img class="rounded-circle shadow p-1 w-50"
                                    src="@Model.ElementAt(0).ImageUrl"
                                    alt="@Model.ElementAt(0).VietnameseName" />
                        </a>
                        <h5 class="mt-3">@Model.ElementAt(0).VietnameseName</h5>
                        <small class="text-secondary">@Model.ElementAt(0).SimplifiedChineseName</small>
                    </div>
                    if (Model.Count() < 1) return;
                    foreach (var item in Model.Skip(1))
                    {
                        <div class="carousel-item">
                            <a asp-controller="Home"
                               asp-action="@item.GetType().Name"
                               asp-route-id="@item.Id">
                                <img class="rounded-circle shadow p-1 w-50"
                                     src="@item.ImageUrl"
                                     alt="@item.VietnameseName" />
                            </a>
                            <h5 class="mt-3">@item.VietnameseName</h5>
                            <small class="text-secondary">@item.SimplifiedChineseName</small>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>