@model IEnumerable<Video>

<div class="card shadow m-3">
    <div class="card-body">
        <div class="row">
            @{
                foreach (var video in Model)
                {
                    var id = $"zh{ video.Id }";
                    <div class="col-md-4 mt-2 mb-2 w-50">
                        <div class="card shadow-sm"
                             data-toggle="modal" data-target="#@id">
                            <a>
                                <img class="img-fluid" loading="lazy"
                                     src="@video.ImageUrl"
                                     alt="@video.VietnameseName">
                            </a>
                            <div class="card-body d-inline-block">
                                <h6 title="@video.VietnameseName">
                                    @video.VietnameseName
                                </h6>
                                <small class="text-muted float-right">
                                    @video.SimplifiedChineseName
                                </small>
                            </div>
                        </div>
                    </div>
                    <partial name="~/Views/Shared/Modal/Player.cshtml" model="@video" />
                }
            }
        </div>
        <div>
            <div class="btn btn-primary float-right"
                 data-toggle="modal" data-target="#video-modal">
                Xem tất cả
            </div>
        </div>
    </div>
</div>