@model AlbumViewModel.Detail
@{
    ViewData["Title"] = Model.Album.Name.Vietnamese;
}

<!--Container-->
<div class="row">
    <div class="col-lg-4 mb-3">
        <partial name="~/Views/Shared/Album/Profile.cshtml" model="@Model.Album" />
        <partial name="~/Views/Shared/Album/Information.cshtml" />  
        <partial name="~/Views/Shared/Modal/Description.cshtml" model="@Model.Album" />
    </div>
    <div class="col-lg-8">
        <partial name="~/Views/Shared/Album/Body.cshtml" model="@Model" />
    </div>
</div>

<!--Modals-->
<partial name="~/Views/Shared/Song/All.cshtml" model="@Model.SongModal" />
<partial name="~/Views/Shared/Artist/All.cshtml" model="@Model.ArtistModal" />
<partial name="~/Views/Shared/Video/All.cshtml" model="@Model.VideoModal" />
<partial name="~/Views/Shared/Album/All.cshtml" model="@Model.RelatedModal" />
<partial name="~/Views/Shared/Modal/Information.cshtml" model="@Model.Album" />
