@model AlbumViewModel.Detail
@{
    ViewData["Title"] = Model.Album.VietnameseName;
}
<div class="row">
    <!--Profile-->
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body shadow border-0">
                <div class="text-center">
                    <img class="p-2 w-75"
                         src="@Model.Album.ImageUrl"
                         alt="@Model.Album.VietnameseName"
                         style="background-color:blue;"
                         id="dropdown" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false" />
                    <!--Dropdown menu-->
                    <ul class="dropdown-menu shadow">
                        <li>
                            <a class="dropdown-item"
                               title="Phát tất cả bài hát trong album">Phát</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               title="Tải xuống tất cả bài hát trong album">Tải xuống</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               data-toggle="modal" data-target="#information-modal">
                                Thông tin
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>

                        <li>
                            <a class="dropdown-item">Chia sẻ</a>
                        </li>
                    </ul>
                    <div class="mt-3">
                        <!--Title-->
                        <h3>@Model.Album.VietnameseName</h3>
                        <p class="text-secondary mb-3">
                            @Model.Album.SimplifiedChineseName
                        </p>
                        <!-- Button trigger modal -->
                        <div class="btn-group">
                            <div class="btn btn-success" data-toggle="modal" data-target="#song-modal">
                                Bài hát
                                <h4>@Model.Songs.Count</h4>
                            </div>
                            <div class="btn btn-warning" data-toggle="modal" data-target="#artist-modal">
                                Ca sĩ
                                <h4>@Model.Artists.Count</h4>
                            </div>
                            <div class="btn btn-danger" data-toggle="modal" data-target="#video-modal">
                                Video
                                <h4>@Model.Videos.Count</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3 shadow border">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between flex-wrap">
                    <h6 class="mb-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-globe mr-2 icon-inline">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="2" y1="12" x2="22" y2="12"></line>
                            <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4
                                      10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                        </svg>
                        Ngày phát hành
                    </h6>
                    <span class="text-secondary">Đang cập nhật</span>
                </li>
                <li class="list-group-item d-flex justify-content-between flex-wrap">
                    <h6 class="mb-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-globe mr-2 icon-inline">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="2" y1="12" x2="22" y2="12"></line>
                            <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4
                                      10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                        </svg>
                        Thể loại
                    </h6>
                    <span class="text-secondary">Đang cập nhật</span>
                </li>
                <li class="list-group-item d-flex justify-content-between flex-wrap">
                    <h6 class="mb-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-globe mr-2 icon-inline">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="2" y1="12" x2="22" y2="12"></line>
                            <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4
                                      10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                        </svg>
                        Hãng đĩa
                    </h6>
                    <span class="text-secondary">Đang cập nhật</span>
                </li>
                <li class="list-group-item d-flex justify-content-between flex-wrap">
                    <h6 class="mb-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-globe mr-2 icon-inline">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="2" y1="12" x2="22" y2="12"></line>
                            <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4
                                      10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                        </svg>
                        Thông tin
                    </h6>
                    <div class="m-0" data-toggle="modal" data-target="#information-modal">
                        <span class="text-secondary">Ngày sinh, quê quán...</span>
                    </div>
                </li>
            </ul>
        </div>        
        <!--Related-->
        <div class="card mt-3 shadow border">
            <div class="card-body text-center">
                <h4 class="mb-3">Đề xuất</h4>
                <div id="related-carousel" class="carousel slide"
                     data-interval="2500" data-ride="carousel">
                    <div class="carousel-inner">
                        @{
                            var firstAlbum = Model.RelatedAlbums.First();
                            <div class="carousel-item active">
                                <a asp-controller="Album"
                                   asp-action="Detail"
                                   asp-route-id="@firstAlbum.Id">
                                    <img class="shadow p-1 w-50"
                                         style="background-color:green;"
                                         src="@firstAlbum.ImageUrl"
                                         alt="@firstAlbum.VietnameseName" />
                                </a>
                                <h5 class="mt-3">
                                    @firstAlbum.VietnameseName
                                </h5>
                                <small class="text-secondary">
                                    @firstAlbum.SimplifiedChineseName
                                </small>
                            </div>
                            if (Model.RelatedAlbums.Count < 1) return;
                            foreach (var item in Model.RelatedAlbums.Skip(1).Take(4))
                            {
                                <div class="carousel-item">
                                    <a asp-controller="Album"
                                       asp-action="Detail"
                                       asp-route-id="@item.Id">
                                        <img class="shadow p-1 w-50"
                                             style="background-color:green;"
                                             src="@item.ImageUrl"
                                             alt="@item.VietnameseName" />
                                    </a>
                                    <h5 class="mt-3">
                                        @item.VietnameseName
                                    </h5>
                                    <small class="text-secondary">
                                        @item.SimplifiedChineseName
                                    </small>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Content-->
    <div class="col-md-8">
        <div class="nav nav-pills justify-content-center h5" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-song-tab" data-toggle="tab" role="tab"
               href="#nav-song" aria-controls="nav-song" aria-selected="true">
                Bài hát
            </a>
            <a class="nav-item nav-link" id="nav-artist-tab" data-toggle="tab" role="tab"
               href="#nav-artist" aria-controls="nav-artist" aria-selected="false">
                Ca sĩ
            </a>
            <a class="nav-item nav-link" id="nav-video-tab" data-toggle="tab" role="tab"
               href="#nav-video" aria-controls="nav-video" aria-selected="false">
                Video
            </a>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-song"
                 role="tabpanel" aria-labelledby="nav-song-tab">
                <partial name="~/Views/Shared/Card/Song.cshtml" model="@Model.Songs.Take(15)" />
            </div>
            <div class="tab-pane fade" id="nav-artist"
                 role="tabpanel" aria-labelledby="nav-artist-tab">
                <partial name="~/Views/Shared/Card/Artist.cshtml" model="@Model.Artists.Take(12)" />
            </div>
            <div class="tab-pane fade" id="nav-video"
                 role="tabpanel" aria-labelledby="nav-video-tab">
                <partial name="~/Views/Shared/Card/Video.cshtml" model="@Model.Videos.Take(12)" />
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<partial name="~/Views/Shared/Modal/Song.cshtml" model="@Model.Songs" />
<partial name="~/Views/Shared/Modal/Artist.cshtml" model="@Model.Artists" />
<partial name="~/Views/Shared/Modal/Video.cshtml" model="@Model.Videos" />
<partial name="~/Views/Shared/Modal/Information.cshtml" model="@Model.Album" />
