@model IEnumerable<Album>
@{
    ViewData["Title"] = "Album";
}
<div class="row">
    @{
        foreach (var album in Model)
        {
            <div class="col-lg-3 mt-3 mb-3">
                <a asp-controller="Album"
                   asp-action="Detail"
                   asp-route-id="@album.Id">
                   <img class="img-fluid p-1 w-100 border" 
                        style="background-color:deeppink;"
                        src=@album.ImageUrl loading="lazy" 
                        aria-label="album" />
                </a>
                <div class="d-flex list-unstyled mt-3 p-1">
                    <div class="me-auto">
                        <a asp-controller="Artist" 
                           asp-action="Detail"
                           asp-route-id="@album.GetArtists()[0].Id">
                            <img src="@album.GetArtists()[0].ImageUrl" 
                                 width="64" height="64" alt="artist" 
                                 class="rounded-circle p-1"
                                 style="background-color:limegreen;">
                        </a>
                    </div>
                    <div class="d-flex align-items-center ml-3">
                        <div>
                            <h6>@album.VietnameseName</h6>
                            <small class="text-secondary">
                                @album.SimplifiedChineseName
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

