@model AlbumViewModel.Detail
@using Music.Enumerables;
@using Music.Extensions;
@{
    ViewData["Title"] = Model.Album.VietnameseName;
    var informations = new Tuple<string, string>[]
    {
        new("", "")
    };
}
<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body shadow border-0">
                <div class="align-items-center text-center">
                    <img class="rounded-circle p-3 w-75"
                         src="@Model.Album.ImageUrl"
                         alt="@Model.Album.VietnameseName"
                         style="background-color:blue;" />
                    <div class="mt-3">
                        <h3>@Model.Album.VietnameseName</h3>
                        <p class="text-secondary mb-3">
                            @Model.Album.SimplifiedChineseName
                        </p>
                        <a class="btn btn-success" href="#">
                            Bài hát
                            <h4>@Model.Songs.Count</h4>
                        </a>
                        <a class="btn btn-warning" href="#">
                            Ca sĩ
                            <h4>@Model.Artists.Count</h4>
                        </a>
                        <a class="btn btn-danger" href="#">
                            Video
                            <h4>@Model.Videos.Count</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3 shadow border">
            <ul class="list-group list-group-flush">
                @foreach (var information in informations)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-globe mr-2 icon-inline">
                                <circle cx="12" cy="12" r="10"></circle>
                                <line x1="2" y1="12" x2="22" y2="12"></line>
                                <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4
                                      10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                            </svg>
                            @information.Item1
                        </h6>
                        <span class="text-secondary text-truncate">@information.Item2</span>
                    </li>
                }
            </ul>
        </div>
        <!-- Related artists -->
        <div class="card mt-3 shadow border">
            <div class="card-body text-center">
                <h4 class="mb-3">Đề xuất</h4>
                @{
                    <div>
                        <a asp-controller="Home"
                           asp-action="Album"
                           asp-route-id="@Model.SecondaryAlbum.Id">
                            <img class="rounded-circle shadow p-1 w-50"
                                 style="background-color:red;"
                                 aria-label="artist" src="@Model.SecondaryAlbum.ImageUrl" />
                        </a>
                        <h5 class="mt-3">@Model.SecondaryAlbum.VietnameseName</h5>
                        <p class="text-secondary">@Model.SecondaryAlbum.SimplifiedChineseName</p>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--Content-->
    <div class="col-md-8">
        <div class="nav nav-pills justify-content-center h5" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-song-tab" data-toggle="tab" role="tab"
               href="#nav-song" aria-controls="nav-song" aria-selected="true">
                Bài hát
            </a>
            <a class="nav-item nav-link" id="nav-artist-tab" data-toggle="tab" role="tab"
               href="#nav-artist" aria-controls="nav-artist" aria-selected="false">
                Ca sĩ
            </a>
            <a class="nav-item nav-link" id="nav-video-tab" data-toggle="tab" role="tab"
               href="#nav-video" aria-controls="nav-video" aria-selected="false">
                Video
            </a>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-song"
                 role="tabpanel" aria-labelledby="nav-song-tab">
                <partial name="~/Views/Shared/Song.cshtml" model="@Model.Songs" />
            </div>
            <div class="tab-pane fade" id="nav-artist"
                 role="tabpanel" aria-labelledby="nav-artist-tab">
                <partial name="~/Views/Shared/Artist.cshtml" model="@Model.Artists" />
            </div>
            <div class="tab-pane fade" id="nav-video"
                 role="tabpanel" aria-labelledby="nav-video-tab">
                <partial name="~/Views/Shared/Video.cshtml" model="@Model.Videos" />
            </div>
        </div>
    </div>
</div>
