@model ProfileViewModel
@{
    ViewData["Title"] = Model.Profile.Title;
    Layout = "~/Views/Shared/Layout/Index.cshtml";
}
<div class="row gutters-sm">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body shadow border-0">
                <div class="align-items-center text-center">
                    <img src="@Model.Profile.ImageUrl" alt="avatar"
                         class="rounded-circle p-3 w-75" 
                         style="background-color:@Model.Profile.Color;" />
                    <div class="mt-3">
                        <h3>@Model.Profile.Title</h3>
                        <p class="text-secondary mb-3">@Model.Profile.Subtitle</p>
                        @{
                            foreach (var summary in Model.Summaries)
                            {
                                <a class="btn btn-@summary.Color"
                                   asp-controller="@summary.Hyperlink.Controller"
                                   asp-action="@summary.Hyperlink.Action"
                                   asp-route-category="@summary.Hyperlink.Category">@summary.Title
                                    <h4>@summary.Subtitle</h4>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3 shadow border">
            <ul class="list-group list-group-flush">
                @foreach (var information in Model.Informations)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-globe mr-2 icon-inline">
                                <circle cx="12" cy="12" r="10"></circle>
                                <line x1="2" y1="12" x2="22" y2="12"></line>
                                <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4
                                      10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                            </svg>
                            @information.Title
                        </h6>
                        <span class="text-secondary">@information.Subtitle</span>
                    </li>
                }
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0 text-info justify-content-between">Thông tin thêm</h6>
                </li>
            </ul>
        </div>
        <!-- Related artists -->
        <div class="card mt-3 shadow border">
            <div class="card-body text-center">
                <h4 class="mb-3">Đề xuất</h4>
                @{
                    foreach (var profile in Model.RelatedProfiles)
                    {
                        <div>
                            <a asp-controller="@profile.Hyperlink.Controller"
                               asp-action="@profile.Hyperlink.Action"
                               asp-route-id="@profile.Hyperlink.Id">
                                <img class="rounded-circle shadow p-1 w-50"
                                     style="background-color:@profile.Color;"
                                     aria-label="artist" src="@profile.ImageUrl" />
                            </a>
                            <h5 class="mt-3">@profile.Title</h5>
                            <p class="text-secondary">@profile.Subtitle</p>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-8">
        @RenderBody()
    </div>
</div>
