@model SongViewModel.Detail
@{
    ViewData["Title"] = Model.Song.VietnameseName;
}
<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body shadow border-0">
                <div class="align-items-center text-center">
                    <div class="embed-responsive embed-responsive-1by1 z-depth-0 p-3">
                        <iframe class="embed-responsive-item"
                                src="https://www.youtube.com/embed/@Model.Song.Id"></iframe>
                    </div>
                    <div class="mt-3">
                        <h3>@Model.Song.VietnameseName</h3>
                        <p class="text-secondary mb-3">
                            @Model.Song.SimplifiedChineseName
                        </p>
                        <!-- Button trigger modal -->
                        <div class="btn-group">
                            <div type="button" class="btn btn-success" data-toggle="modal" data-target="#album-modal">
                                Album
                                <h4>@Model.Albums.Count</h4>
                            </div>
                            <div type="button" class="btn btn-warning" data-toggle="modal" data-target="#artist-modal">
                                Ca sĩ
                                <h4>@Model.Artists.Count</h4>
                            </div>
                            <div type="button" class="btn btn-danger" data-toggle="modal" data-target="#video-modal">
                                Video
                                <h4>@Model.Videos.Count</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <partial name="~/Views/Shared/Modal/Album.cshtml" model="@Model.Albums" />
                <partial name="~/Views/Shared/Modal/Artist.cshtml" model="@Model.Artists" />
                <partial name="~/Views/Shared/Modal/Video.cshtml" model="@Model.Videos" />
            </div>
        </div>
        <!--Informations-->
        <div class="card mt-3 shadow border">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <div class="mb-0 h6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-globe mr-2 icon-inline">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="2" y1="12" x2="22" y2="12"></line>
                            <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4
                                      10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                        </svg>Lượt nghe
                    </div>
                    <span class="text-secondary">241</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <div class="m-0 h6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-globe mr-2 icon-inline">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="2" y1="12" x2="22" y2="12"></line>
                            <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4
                                      10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                        </svg>Đánh giá
                    </div>
                    <div class="row m-0">
                        <div data-toggle="popover" title="Popover title"
                             data-trigger="focus" tabindex="0"
                             data-content="And here's some amazing content. It's very engaging. Right?">
                            <span class="badge badge-primary">👍 34</span>
                        </div>
                        <div data-toggle="popover" title="Popover title"
                             data-trigger="focus" tabindex="0"
                             data-content="And here's some amazing content. It's very engaging. njt?">
                            <span class="badge badge-danger">❤️️ 3</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <div class="mb-0 h6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-globe mr-2 icon-inline">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="2" y1="12" x2="22" y2="12"></line>
                            <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4
                                      10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                        </svg>Đề xuất
                    </div>
                    <div class="btn btn-primary" data-toggle="popover" title="Popover title"
                         data-trigger="focus" tabindex="0"
                         data-content="And here's some amazing content. It's very engaging. Right?">
                        <span class="badge badge-light">34/0 (100%)</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--Content-->
    <div class="col-md-8">
        <div class="nav nav-pills justify-content-center h5 mb-3" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-information-tab" data-toggle="tab" role="tab"
               href="#nav-information" aria-controls="nav-information" aria-selected="true">
                Thông tin
            </a>
            <a class="nav-item nav-link" id="nav-lyric-tab" data-toggle="tab" role="tab"
               href="#nav-lyric" aria-controls="nav-lyric" aria-selected="false">
                Lời nhạc
            </a>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-information"
                 role="tabpanel" aria-labelledby="nav-information-tab">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Tiếng Việt
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Giản thể
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                申时 - 音阙诗听/昆玉<br />
                                词：假寐<br />
                                曲：殇小谨<br />
                                编曲：Morri3on(喬凡三)<br />
                                混音：殇小谨<br />
                                音频编辑：冰镇小灯<br />
                                母带处理：殇小谨<br />
                                琵琶：深藏·古筝魂·团团子<br />
                                古筝：深藏·琵琶魂·紫格<br />
                                二胡：深藏·小提琴魂·张印<br />
                                小提琴：深藏·二胡魂·大琴KoTo<br />
                                笛子：终究是一个人扛下了所有·囚牛<br />
                                和声：皎月<br />
                                文案：假寐<br />
                                封面画师：千机/fzx<br />
                                视频制作：大琴剪剪<br />
                                字体设计：睢亦<br />
                                制作人：殇小谨<br />
                                监制：李俊羽<br />
                                出品：音阙诗听<br />
                                （版权所有 未经许可 请勿使用）<br />
                                一见你偏爱<br />
                                一身月牙白<br />
                                低头动金钗<br />
                                互赠相思袋<br />
                                晚霞似你<br />
                                却无风情可替代<br />
                                幸甚至哉<br />
                                得你青睐<br />
                                一灯入人海<br />
                                相会老戏台<br />
                                一点轻粉黛<br />
                                我采红樱戴<br />
                                铜锣声开唱出这钟情痴爱<br />
                                动人词牌<br />
                                满堂喝彩<br />
                                锦巷乌檐竹马绕青梅<br />
                                喜鹊衔红线恰作美<br />
                                是谁<br />
                                是谁<br />
                                添段好梦归<br />
                                琉璃步摇掌中沐清辉<br />
                                八宝结巧手缀金穗<br />
                                是谁<br />
                                是谁<br />
                                想把良缘配<br />
                                一见你偏爱<br />
                                一身月牙白<br />
                                低头动金钗<br />
                                互赠相思袋<br />
                                晚霞似你<br />
                                却无风情可替代<br />
                                幸甚至哉<br />
                                得你青睐<br />
                                一灯入人海<br />
                                相会老戏台<br />
                                一点轻粉黛<br />
                                我采红樱戴<br />
                                铜锣声开<br />
                                唱出这钟情痴爱<br />
                                动人词牌<br />
                                满堂喝彩<br />
                                桥边柳絮正逢梨花飞<br />
                                小鸳鸯结伴春心回<br />
                                登对<br />
                                登对<br />
                                好景惹人醉<br />
                                才子盼良辰食不知味<br />
                                佳人凭栏锦帕揉碎<br />
                                登对<br />
                                登对<br />
                                多情总相随<br />
                                一见你偏爱<br />
                                一身月牙白<br />
                                低头动金钗<br />
                                互赠相思袋<br />
                                晚霞似你<br />
                                却无风情可替代<br />
                                幸甚至哉<br />
                                得你青睐<br />
                                一灯入人海<br />
                                相会老戏台<br />
                                一点轻粉黛<br />
                                我采红樱戴<br />
                                铜锣声开<br />
                                唱出这钟情痴爱<br />
                                动人词牌<br />
                                满堂喝彩<br />
                                太紧张<br />
                                还是太心慌<br />
                                小鹿乱撞却不敢张望<br />
                                摇海棠<br />
                                借一处风光<br />
                                把千种思绪偷偷藏<br />
                                不敢想<br />
                                却想过半晌<br />
                                到晌午送晚霞抹红妆<br />
                                织女牛郎<br />
                                可牵星河会一场
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="tc-heading">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#tc-collapse" aria-expanded="false" aria-controls="tc-collapse">
                                    Phồn thể
                                </button>
                            </h5>
                        </div>
                        <div id="tc-collapse" class="collapse" aria-labelledby="tc-heading" data-parent="#accordion">
                            <div class="card-body">
                                申时 - 音阙诗听/昆玉<br />
                                词：假寐<br />
                                曲：殇小谨<br />
                                编曲：Morri3on(喬凡三)<br />
                                混音：殇小谨<br />
                                音频编辑：冰镇小灯<br />
                                母带处理：殇小谨<br />
                                琵琶：深藏·古筝魂·团团子<br />
                                古筝：深藏·琵琶魂·紫格<br />
                                二胡：深藏·小提琴魂·张印<br />
                                小提琴：深藏·二胡魂·大琴KoTo<br />
                                笛子：终究是一个人扛下了所有·囚牛<br />
                                和声：皎月<br />
                                文案：假寐<br />
                                封面画师：千机/fzx<br />
                                视频制作：大琴剪剪<br />
                                字体设计：睢亦<br />
                                制作人：殇小谨<br />
                                监制：李俊羽<br />
                                出品：音阙诗听<br />
                                （版权所有 未经许可 请勿使用）<br />
                                一见你偏爱<br />
                                一身月牙白<br />
                                低头动金钗<br />
                                互赠相思袋<br />
                                晚霞似你<br />
                                却无风情可替代<br />
                                幸甚至哉<br />
                                得你青睐<br />
                                一灯入人海<br />
                                相会老戏台<br />
                                一点轻粉黛<br />
                                我采红樱戴<br />
                                铜锣声开唱出这钟情痴爱<br />
                                动人词牌<br />
                                满堂喝彩<br />
                                锦巷乌檐竹马绕青梅<br />
                                喜鹊衔红线恰作美<br />
                                是谁<br />
                                是谁<br />
                                添段好梦归<br />
                                琉璃步摇掌中沐清辉<br />
                                八宝结巧手缀金穗<br />
                                是谁<br />
                                是谁<br />
                                想把良缘配<br />
                                一见你偏爱<br />
                                一身月牙白<br />
                                低头动金钗<br />
                                互赠相思袋<br />
                                晚霞似你<br />
                                却无风情可替代<br />
                                幸甚至哉<br />
                                得你青睐<br />
                                一灯入人海<br />
                                相会老戏台<br />
                                一点轻粉黛<br />
                                我采红樱戴<br />
                                铜锣声开<br />
                                唱出这钟情痴爱<br />
                                动人词牌<br />
                                满堂喝彩<br />
                                桥边柳絮正逢梨花飞<br />
                                小鸳鸯结伴春心回<br />
                                登对<br />
                                登对<br />
                                好景惹人醉<br />
                                才子盼良辰食不知味<br />
                                佳人凭栏锦帕揉碎<br />
                                登对<br />
                                登对<br />
                                多情总相随<br />
                                一见你偏爱<br />
                                一身月牙白<br />
                                低头动金钗<br />
                                互赠相思袋<br />
                                晚霞似你<br />
                                却无风情可替代<br />
                                幸甚至哉<br />
                                得你青睐<br />
                                一灯入人海<br />
                                相会老戏台<br />
                                一点轻粉黛<br />
                                我采红樱戴<br />
                                铜锣声开<br />
                                唱出这钟情痴爱<br />
                                动人词牌<br />
                                满堂喝彩<br />
                                太紧张<br />
                                还是太心慌<br />
                                小鹿乱撞却不敢张望<br />
                                摇海棠<br />
                                借一处风光<br />
                                把千种思绪偷偷藏<br />
                                不敢想<br />
                                却想过半晌<br />
                                到晌午送晚霞抹红妆<br />
                                织女牛郎<br />
                                可牵星河会一场
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-lyric"
                 role="tabpanel" aria-labelledby="nav-lyric-tab">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Tiếng Việt
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Bính âm
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Giản thể
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                申时 - 音阙诗听/昆玉<br />
                                词：假寐<br />
                                曲：殇小谨<br />
                                编曲：Morri3on(喬凡三)<br />
                                混音：殇小谨<br />
                                音频编辑：冰镇小灯<br />
                                母带处理：殇小谨<br />
                                琵琶：深藏·古筝魂·团团子<br />
                                古筝：深藏·琵琶魂·紫格<br />
                                二胡：深藏·小提琴魂·张印<br />
                                小提琴：深藏·二胡魂·大琴KoTo<br />
                                笛子：终究是一个人扛下了所有·囚牛<br />
                                和声：皎月<br />
                                文案：假寐<br />
                                封面画师：千机/fzx<br />
                                视频制作：大琴剪剪<br />
                                字体设计：睢亦<br />
                                制作人：殇小谨<br />
                                监制：李俊羽<br />
                                出品：音阙诗听<br />
                                （版权所有 未经许可 请勿使用）<br />
                                一见你偏爱<br />
                                一身月牙白<br />
                                低头动金钗<br />
                                互赠相思袋<br />
                                晚霞似你<br />
                                却无风情可替代<br />
                                幸甚至哉<br />
                                得你青睐<br />
                                一灯入人海<br />
                                相会老戏台<br />
                                一点轻粉黛<br />
                                我采红樱戴<br />
                                铜锣声开唱出这钟情痴爱<br />
                                动人词牌<br />
                                满堂喝彩<br />
                                锦巷乌檐竹马绕青梅<br />
                                喜鹊衔红线恰作美<br />
                                是谁<br />
                                是谁<br />
                                添段好梦归<br />
                                琉璃步摇掌中沐清辉<br />
                                八宝结巧手缀金穗<br />
                                是谁<br />
                                是谁<br />
                                想把良缘配<br />
                                一见你偏爱<br />
                                一身月牙白<br />
                                低头动金钗<br />
                                互赠相思袋<br />
                                晚霞似你<br />
                                却无风情可替代<br />
                                幸甚至哉<br />
                                得你青睐<br />
                                一灯入人海<br />
                                相会老戏台<br />
                                一点轻粉黛<br />
                                我采红樱戴<br />
                                铜锣声开<br />
                                唱出这钟情痴爱<br />
                                动人词牌<br />
                                满堂喝彩<br />
                                桥边柳絮正逢梨花飞<br />
                                小鸳鸯结伴春心回<br />
                                登对<br />
                                登对<br />
                                好景惹人醉<br />
                                才子盼良辰食不知味<br />
                                佳人凭栏锦帕揉碎<br />
                                登对<br />
                                登对<br />
                                多情总相随<br />
                                一见你偏爱<br />
                                一身月牙白<br />
                                低头动金钗<br />
                                互赠相思袋<br />
                                晚霞似你<br />
                                却无风情可替代<br />
                                幸甚至哉<br />
                                得你青睐<br />
                                一灯入人海<br />
                                相会老戏台<br />
                                一点轻粉黛<br />
                                我采红樱戴<br />
                                铜锣声开<br />
                                唱出这钟情痴爱<br />
                                动人词牌<br />
                                满堂喝彩<br />
                                太紧张<br />
                                还是太心慌<br />
                                小鹿乱撞却不敢张望<br />
                                摇海棠<br />
                                借一处风光<br />
                                把千种思绪偷偷藏<br />
                                不敢想<br />
                                却想过半晌<br />
                                到晌午送晚霞抹红妆<br />
                                织女牛郎<br />
                                可牵星河会一场
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="tc-heading">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#tc-collapse" aria-expanded="false" aria-controls="tc-collapse">
                                    Phồn thể
                                </button>
                            </h5>
                        </div>
                        <div id="tc-collapse" class="collapse" aria-labelledby="tc-heading" data-parent="#accordion">
                            <div class="card-body">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <h5>Đề xuất</h5>
        </div>
    </div>
</div>
