@using Music.Enumerables;
@model dynamic
@{ 
    string controllerName = Model.ControllerName;
    string actionName = Model.ActionName;
    string[] items = Model.Items;
}
<nav aria-label="alphabet-pagination">
    <ul class="pagination justify-content-center">
        <li class="page-item active">
            <a class="page-link" tabindex="-1"
                asp-controller="@controllerName" asp-action="@actionName" asp-route-id="">Tất cả</a>
        </li>
        @{
            foreach (var item in items)
            {
                <li class="page-item">
                    <a class="page-link" 
                       asp-controller="@controllerName" asp-action="@actionName" 
                       asp-route-id="@((int)Enum.Parse(typeof(Category), item))">
                    @item</a>
                </li>
            }
        }
    </ul>
</nav>