@model List<NavigationViewModel>
@using Music.Enumerables;
@using Music.Extensions;
@{
    if (Model.Count == 0) return;
}
<div class="nav nav-pills justify-content-center h5" id="nav-tab" role="tablist" aria-orientation="horizontal">
    <a class="nav-item nav-link active" id="nav-@Model[0].Header-tab" data-toggle="tab" role="tab"
       href="#nav-@Model[0].Header" aria-controls="nav-@Model[0].Header" aria-selected="true">
        @Model[0].Header.ToString(Language.Vietnamese)
    </a>
    @{
        if (Model.Count < 2) return;
        for (int i = 1; i < Model.Count; i++)
        {
            <a class="nav-item nav-link" id="nav-@Model[i].Header-tab" data-toggle="tab" role="tab"
               href="#nav-@Model[i].Header" aria-controls="nav-contact" aria-selected="false">
                @Model[i].Header.ToString(Language.Vietnamese)
            </a>
        }
    }
</div>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-@Model[0].Header"
         role="tabpanel" aria-labelledby="nav-@Model[0].Header-tab">
        <partial name="@Model[0].ViewName" model="@Model[0]" />
    </div>
    @{
        if (Model.Count < 2) return;
        for (int i = 1; i < Model.Count; i++)
        {
            <div class="tab-pane fade" id="nav-@Model[i].Header"
                 role="tabpanel" aria-labelledby="nav-@Model[i].Header-tab">
                <partial name="@Model[i].ViewName" model="@Model[i]" />
            </div>
        }
    }
</div>
