@model IEnumerable<Music.Models.Song>

<div class="card shadow m-3">
    <div class="card-body">
        @{
            int index = 1;
            foreach (var item in Model)
            {
                var id = $"v{ item.Id }";
                <div class="dropdown">
                    <div class="row" id="dropdown" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">
                        <div class="col-sm-1"><h6>@index</h6></div>
                        <div class="col-sm-6"><h6>@item.VietnameseName</h6></div>
                        <div class="col-sm-5 text-secondary">@item.SimplifiedChineseName</div>
                    </div>
                    <ul class="dropdown-menu shadow">
                        <li><a class="dropdown-item" data-toggle="modal" data-target="#@id">Phát</a></li>
                        <li>
                            <a class="dropdown-item"
                               asp-controller="Home" asp-action="Download"
                               asp-route-id="@item.Id">Tải xuống</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#myModel" 
                               id="shareBtn" data-bs-placement="top">Chia sẻ</a></li>
                    </ul>
                </div>
                <partial name="~/Views/Shared/Player.cshtml" model="@item" />
                <hr />
                index++;
            }
        }
        @*<partial name="~/Views/Shared/Partial/Pagination.cshtml" model="@Model" />*@
    </div>
</div>