@model ArtistViewModel.Detail
@{
    ViewData["Title"] = Model.Artist.Name.Vietnamese;
    var primaryBorderColor = Model.Artist.GetBorderColor();
}
<!--Container-->
<div class="row">
    <div class="col-lg-4 mb-3">
        <partial name="~/Views/Shared/Artist/Profile.cshtml" model="@Model.Artist" />
        <partial name="~/Views/Shared/Artist/Information.cshtml" />
        <partial name="~/Views/Shared/Modal/Description.cshtml" model="@Model.Artist" />
    </div>
    <div class="col-lg-8">
        <partial name="~/Views/Shared/Artist/Body.cshtml" model="@Model" />
    </div>
</div>
<!-- Modal -->
<partial name="~/Views/Shared/Song/All.cshtml" model="@Model.SongModal" />
<partial name="~/Views/Shared/Album/All.cshtml" model="@Model.AlbumModal" />
<partial name="~/Views/Shared/Video/All.cshtml" model="@Model.VideoModal" />
<partial name="~/Views/Shared/Artist/All.cshtml" model="@Model.RelatedModal" />
