@{
    ViewData["Title"] = "Ca sĩ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <div class="row g-0 border shadow rounded overflow-hidden flex-md-row mb-4 mr-1 h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Mới</strong>
                <h3 class="mb-1">@ViewBag.NewArtist.VietnameseName</h3>
                <div class="mb-2 text-muted text-right">@ViewBag.NewArtist.SimplifiedChineseName</div>
                <div class="btn-group mt-auto">
                    <a type="button" class="btn btn-sm btn-success"
                       href="">Phát tất cả</a>
                    <a type="button" class="btn btn-sm btn-outline-primary" 
                       asp-controller="Artist" asp-action="Detail" asp-route-id=@ViewBag.NewArtist.Id>Thông tin thêm</a>
                </div>
            </div>
            <div class="col-auto d-none d-lg-block p-3">
                <img class="bd-placeholder-img rounded-circle p-3" 
                     style="background-color:limegreen;" width="250"
                     src=@ViewBag.NewArtist.ImageUrl aria-label="Image" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border shadow rounded overflow-hidden flex-md-row mb-4 ml-1 h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-danger">Hot</strong>
                <h3 class="mb-1">@ViewBag.HotArtist.VietnameseName</h3>
                <div class="mb-2 text-muted text-right">@ViewBag.HotArtist.SimplifiedChineseName</div>
                <div class="btn-group mt-auto">
                    <a type="button" class="btn btn-sm btn-success"
                       href="">Phát tất cả</a>
                    <a type="button" class="btn btn-sm btn-outline-primary"
                       asp-controller="Artist" asp-action="Detail" asp-route-id=@ViewBag.HotArtist.Id>Thông tin thêm</a>
                </div>
            </div>
            <div class="col-auto d-none d-lg-block p-3">
                <img class="bd-placeholder-img rounded-circle p-3" 
                     style="background-color:red;" height="250"
                     src=@ViewBag.HotArtist.ImageUrl aria-label="Image" />
            </div>
        </div>
    </div>
</div>
@{
    var pagination = new
    {
        ControllerName = "Artist",
        ActionName = "Index"
    };
}
<partial name="_AlphabetPagination" model="@pagination" />
<div class="row text-center p-3">
    @{
        foreach (var artist in ViewBag.Artists)
        {
            <div class="col-lg-3 p-3" style="height:75%;">
                <img class="bd-placeholder-img rounded-circle shadow p-1" width="150" height="150"
                     href="/Artist/Detail/@artist.Id"
                     src=@artist.ImageUrl loading="lazy" aria-label="artist" />
                <h4 class="p-3">@artist.VietnameseName</h4>
                <p>@artist.SimplifiedChineseName</p>
            </div>
        }
    }
</div>

