@model ItemViewModel

<div class="row">
    <h4 class="col-md-2">@Model.Title</h4>
    @{
        if (Model.Hyperlink == null)
        {
            <a class="col-md-10 mt-1 text-md-right">
                @Model.Subtitle
            </a>
        }
        else
        {
            <a class="col-md-10 mt-1 text-md-right"
               asp-controller="@Model.Hyperlink.Item1"
               asp-action="@Model.Hyperlink.Item2"
               asp-route-category="@Model.Hyperlink.Item3">
                @Model.Subtitle
            </a>
        }
    }
</div>
<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            @{
                foreach (var item in Model.Items)
                {
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-sm">
                            <img src="@item.ImageUrl" alt="album" />
                            <div class="card-body">
                                <h6>@item.VietnameseName</h6>
                                <small class="text-muted float-right">@item.SimplifiedChineseName</small>
                            </div>
                        </div>
                    </div>
                }

                if (Model.Hyperlink == null)
                {
                    if (Model.Items.Count > 0)
                    {
                        <nav aria-label="page navigation">
                            <ul class="pagination justify-content-center">
                                @{
                                    for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        <li class="page-item"><a class="page-link" href="#">@i</a></li>
                                    }
                                }
                            </ul>
                        </nav>
                    }
                }
            }
        </div>
    </div>
</div>
