@model dynamic
@{
    var items = Model.Items;
    var title = Model.Title;
    var count = $"{ Model.Count } { Model.Title.ToLower() }";
}
<div class="row">
    <h4 class="col-md-2">@title</h4>
    <a class="col-md-10 mt-1 text-md-right">@count</a>
</div>
<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            @{
                foreach (var item in items)
                {
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-sm">
                            <img src="@item.ImageUrl" alt="album" />
                            <div class="card-body">
                                <h6>@item.VietnameseName</h6>
                                <small class="text-muted float-right">@item.SimplifiedChineseName</small>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
