<div class="row">
    <h4 class="col-md-2">@Model.Title</h4>
    <a class="col-md-10 mt-1 text-md-right"
       asp-controller="@Model.ControllerName" 
       asp-action="@Model.ActionName" 
       asp-route-type="@Model.ParameterName">
    @Model.Subtitle</a>
</div>
<div class="card mb-3">
    <div class="card-body">
        @{
            foreach (var item in Model.Items)
            {
                <div class="row">
                    <div class="col-sm-1">
                        <h6>@item.Id</h6>
                    </div>
                    <div class="col-sm-6">
                        <h6>@item.VietnameseName</h6>
                    </div>
                    <div class="col-sm-4 text-secondary">
                        @item.SimplifiedChineseName
                    </div>
                    <div class="col-sm-1">
                        <a class="btn btn-info">></a>
                    </div>
                </div>
                <hr />
            }
        }
        <div class="mt-3 text-center">
            <a class="btn btn-info align-content-center m-0">Trước</a>
            <a class="btn btn-info align-content-center m-0">Phát</a>
            <a class="btn btn-info align-content-center m-0">Sau</a>
        </div>
    </div>
</div>
