@model ItemViewModel

<div class="row">
    @{
        if (Model.Hyperlink == null)
        {
            <a class="col-md-6">
                <h4>@Model.Header</h4>
            </a>
        }
        else
        {
            <a class="col-md-6"
                asp-controller="@Model.Hyperlink.Controller"
                asp-action="@Model.Hyperlink.Action"
                asp-route-category="@Model.Hyperlink.Category">
                <h4>@Model.Header</h4>
            </a>
        }
    }
</div>
<div class="card mb-3 shadow-sm">
    <div class="card-body">
        @{
            int index = 1;
            foreach (var item in Model.Items)
            {
                <div class="row">
                    <div class="col-sm-2">
                        <h6>@index</h6>
                    </div>
                    <div class="col-sm-6">
                        <h6>@item.VietnameseName</h6>
                    </div>
                    <div class="col-sm-4 text-secondary">
                        @item.SimplifiedChineseName
                    </div>
                </div>
                <hr />
                ++index;
            }

            if (Model.Hyperlink == null)
            {
                if (Model.Items.Count > 0)
                {
                    <nav aria-label="page navigation">
                        <ul class="pagination justify-content-center">
                            @{
                                for (int i = index; i <= Model.PageCount; i++)
                                {
                                    <li class="page-item">
                                        <a class="page-link">@i</a>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>
                }
            }
        }
    </div>
</div>
