@model PaginationViewModel

<nav aria-label="pagination">
    <ul class="nav nav-pills pagination mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-@Model.PageNames[0]-tab" 
               data-toggle="pill" href="#pills-@Model.PageNames[0]"
               role="tab" aria-controls="pills-@Model.PageNames[0]" 
               aria-selected="true">@Model.PageNames[0]</a>
        </li>
        @{
            foreach (var item in Model.PageNames.Skip(1))
            {
                <li class="nav-item">
                    <a class="nav-link" id="pills-@item-tab" 
                       data-toggle="pill" href="#pills-@item"
                       role="tab" aria-controls="pills-@item" 
                       aria-selected="false">@item</a>
                </li>
            }
        }
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-@Model.PageNames[0]"
             role="tabpanel" aria-labelledby="pills-@Model.PageNames[0]-tab">
            <partial name="@Model.PartialView.Item1" 
                     model="@Model.PartialView.Item2" />
        </div>
        @{
            foreach (var item in Model.PageNames.Skip(1))
            {
                <div class="tab-pane fade" id="pills-@item" 
                     role="tabpanel" aria-labelledby="pills-@item-tab">
                    <partial name="@Model.PartialView.Item1" 
                             model="@Model.PartialView.Item2" />
                </div>
            }
        }
    </div>
</nav>
