@{
    ViewData["Title"] = "Album";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <header class="d-flex justify-content-center py-2">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active">Mới</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Phổ biến</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Thịnh hành</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Đề xuất</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Liên quan</a></li>
        </ul>
    </header>
    <div class="row">
        @{
            foreach (var album in ViewBag.RecentAlbums)
            {
                <div class="col-4" style="height: 350px;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg p-1"
                         style="background-image: url('@album.ImageUrl'); background-color:black;
                                background-size:cover; background-position:center;">
                        <ul class="d-flex list-unstyled mt-auto pl-3">
                            <li class="me-auto">
                                <a asp-controller="Home" asp-action="Artist" asp-route-id="@album.Artists[0].Id">
                                    <img src="@album.Artists[0].ImageUrl" alt="artist"
                                         width="64" height="64" class="rounded-circle p-1"
                                         style="background-color:limegreen;">
                                </a>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg width="1em" height="1em">
                                    <use xlink:href="#geo-fill"></use>
                                </svg>
                                <div>
                                    <h6>@album.VietnameseName</h6>
                                    <h6>@album.SimplifiedChineseName</h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        }
    </div>
</div>

